* {
    /* border: 5px solid; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body, html {
    border: none;
}

.main {
    border-color: #2DD8E1;
    display: flex;
    flex-direction: column;
    background-color: hotpink;
}

.container {
    border-color: rgba(255, 230, 6, 0.89);
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.containerInner {
    border-color: black;
    display: flex;
    flex: 2 2 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    height: 100%;
    max-width: 900px;
}


.mainTextArea {
    border-color: mediumslateblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex: 1 0 auto;
    max-width: 900px;
}

.scoreContainer {
    border-color: limegreen;
    display: flex;
    flex-direction: column;
    max-height: 15%;
    flex: 1 0 auto;
}

#playerScoreContainer{
    align-items: flex-end;
    padding-top: 3%
}

#cpuScoreContainer {
    align-items: flex-start;
    padding-bottom: 3%;
}

/* -------------------------------------------------------------------------- */
/* TEXT STYLING */
/* -------------------------------------------------------------------------- */
.mainTextArea > #rock {
    display: block;
    color: #2DD8E1;
    font-family: 'Permanent Marker', cursive;
    font-size: 15vh;
    text-align: center;
    animation-name: rockDrop, swipeRight;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 4.5s;
    animation-fill-mode: forwards;
}

.mainTextArea > #paper {
    display: block;
    color: #D4E12D;
    font-family: 'Amatic SC', cursive;
    font-size: 15vh;
    font-weight: 700;
    text-align: center;
    animation-name: paperFloat, swipeLeft;
    animation-duration: 3s, 1s;
    animation-delay: 1s, 5s;
    animation-timing-function: ease-out, cubic-bezier(0.45, -0.13, 0.74, 0.05);
    animation-fill-mode: both;
}

.mainTextArea > #scissors {
    display: block;
    color: #2DE154;
    font-family: 'League Gothic', sans-serif;
    font-size: 15vh;
    text-align: center;
    animation-name: scissorsReveal, swipeDown;
    animation-duration: .001s, .5s;
    animation-delay: 4s, 5.7s;
    animation-fill-mode: both;
}

.mainTextArea > .instructPlayer{
    color: #e9c111;
    font-family: 'League Gothic', sans-serif;
    font-size: 15vh;
    text-align: center;
    /* animation: blink2 1.2s infinite; */
    animation-name: blink2, blink;
    animation-iteration-count: infinite;
    animation-duration: 1.2s, .5s;
    animation-delay:0s, 4.8s;
}

.score{
    display: none;
    color: white;
    font-family: 'League Gothic', sans-serif;
    font-size: 6vh;
}
#cpuScore {
    margin-left: 5%;
}
#playerScore {
    margin-right: 5%;
}



/* -------------------------------------------------------------------------- */
/* KEYFRAMES */
/* -------------------------------------------------------------------------- */
@keyframes blink {
        0%{
            opacity: 0;
        }
        25%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        75%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

@keyframes blink2 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes rockDrop {
    from, 15% {
        transform: translate3d(0, -200%, 0);
        animation-timing-function: cubic-bezier(.07, 1.75, .67, .57);
      }
      50%,
      60% {
        transform: translate3d(0, 40%, 0);
        animation-timing-function: cubic-bezier(.13, .84, .82, 1);
      }
      85%,
      to {
        transform: translate3d(0, 40%, 0);
      }
    }
    
@keyframes paperFloat {
    0% {
        transform: translate3d(0, -80%, 0);
        opacity: 0%;
        }
    100% {
        transform: translate3d(0, -20%, 0);    
        opacity: 100%;
        }            
}
@keyframes swipeRight {
    0% {
        animation-timing-function: cubic-bezier(0.45, -0.13, 0.74, 0.05);
    }

    100% {
        transform: translate3d(500%, 40%, 0);
    }
}

@keyframes swipeLeft {
    100% {
        transform: translate3d(-500%, -20%, 0)
    }
}
   
@keyframes scissorsReveal {
    0% {
        transform: translate3d(0, -80%, 0);
        opacity: 0%;
    }
    100% {
        transform: translate3d(0, -80%, 0);
        opacity: 100%;
    }
}

@keyframes swipeDown {
    0% {
        transform: translate3d(0, -80%, 0);
        animation-timing-function: cubic-bezier(0.45, -0.2, 0.74, 0.05);
    }
    100% {
        transform: translate3d(0, 200%, 0);
    }
}

@keyframes infoReveal {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------------------------------------------- */
@media(max-width: 900px){
    #rock, #paper, #scissors {
        font-size: 13vh;
    }
}
    
@media(max-width: 300px){
    #rock, #paper, #scissors {
        font-size: 11vh;
    }
}
    